Repository OpenNebula/one-apps, pull requests merged in 2025-01, with the labels that each got.

#165 F#164: Add support for AlmaLinux OS 10 and AlmaLinux Kitten OS 10
  Makefile.config
  context-linux/generate-all.sh
  context-linux/targets.sh
Labels: type: feature, category: context linux, status: accepted, community

#156 Add ability to enable SSH in context-windows
  context-windows/src/context.ps1
Labels: type: feature, category: context windows, status: pending, community

#151 B#150: Fix authorization of standard SSH keys in context-windows
  context-windows/src/context.ps1
Labels: type: bug, category: context windows, status: accepted, community

#147 #146 Windows: context.ps1 — fix broken log rotation
  context-windows/src/context.ps1
Labels: type: bug, category: context windows, status: accepted, community

#143 B#142: Fix incorrect assumption about Windows partition drive letter
  context-windows/src/context.ps1
Labels: type: bug, category: context windows, status: accepted, community
